$globalMargin: 25px;

// Font-sizes
$smallText: 0.9rem;
$largeText: 1.3rem;
$smallHeader: 0.9rem;
$mediumHeader: 1.2rem;
$largeHeader: 2rem;
$default: 1rem;
$largeIcon: 2rem;
$smallIcon: 1.2rem;

// Content Colors
$mainBackground: rgb(24, 24, 24);
$secondaryBackground: rgb(158, 158, 158);
$black: rgb(10, 10, 10);
$shadowColor: rgba(0, 0, 0, 0.445);

// Dark Text Colors
$mainTextColor: whitesmoke;
$secondaryTextColor: rgb(157, 165, 180);
$accent1: rgba(109, 214, 155, 80%);
// #6DD69B
$accent2: #6CACCB;