@import './_mixins';
@import './variables';

#about {
    @include flexCenter();
}

.about-text {
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.hello-container {
    position: absolute;
    left: 0;
    margin: $globalMargin;
    font-size: 8rem;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 0.103);
    z-index: -1;
    white-space: nowrap;
    line-height: 350px;
}

.name {
    font-family: 'Noto Sans SC', sans-serif;
    letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
    .about-text {
        width: 75%;
        font-size: 1.1rem;
    }
    .hello,
    .hello-end {
        font-size: 6rem;
        letter-spacing: -10px;
    }
}
