@import './_mixins';
@import './_variables';

.contact-container {
    @include flexCenter();
    grid-area: 4 / 1 / 4 / 2;
    flex-direction: column;
    height: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 500px;
    margin: $globalMargin;
}

.form-header {
    font-size: $largeHeader;
    margin: $globalMargin;
    text-align: center;
}

.social-icons {
    display: flex;
    align-items: center;
}

.fab {
    font-size: $largeIcon;
    margin-right: 15px;
    &:hover {
        filter: brightness(120%);
    }
}

.fa-github {
    color: #d6d8da;
    margin-left: 15px;
}

.fa-linkedin {
    color: #0966c2;
}

.social-hr {
    display: inline;
    height: 1px;
    background-color: black;
    width: 20vw;
    max-width: 220px;
    border: 0;
}

.form-input,
.text-area {
    width: 100%;
    margin: 5px 0;
}

.form-input {
    height: 30px;
}

.text-area {
    height: 200px;
    resize: none;
}

.form-label {
    font-family: 'Poppins', sans-serif;
    font-size: $smallText;
    letter-spacing: 1px;
}

.submit-btn {
    align-self: center;
    margin-top: 25px;
    padding: 15px;
    width: 125px;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .contact-container {
        margin: $globalMargin;
    }
    #contact-form {
        width: 100%;
    }
}
