@import './_mixins';
@import './_variables';

.contact-container {
    @include flexCenter();
    grid-area: 4 / 1 / 4 / 2;
    flex-direction: column;
    height: 100%;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 500px;
    margin: $globalMargin;
}

.form-header {
    font-size: $largeHeader;
    margin: $globalMargin;
    color: $accent1;
    text-align: center;
}

.social-icons {
    display: flex;
    align-items: center;
}

.fab {
    font-size: $largeIcon;
    margin-right: 15px;
    &:hover {
        filter: brightness(140%);
    }
}

.fa-github {
    color: #d6d8da;
    margin-left: 15px;
}

.fa-linkedin {
    color: #0966c2;
}

.social-hr {
    display: inline;
    height: 1px;
    background-color: $secondaryTextColor;
    width: 20vw;
    max-width: 220px;
    border: 0;
}

.form-input,
.text-area {
    width: 100%;
    margin: 5px 0;
    padding: 10px 10px;
    box-sizing: border-box;
    @include smallTextFont();
    font-size: $smallText;
    background-color: $black;
    color: $secondaryTextColor;
    letter-spacing: 1px;
    border: 0;
    border-radius: 5px;
    &::placeholder {
        @include smallTextFont();
        font-size: $smallText;
        letter-spacing: 1px;
        color: $secondaryTextColor;
    }
    &:focus {
        filter: brightness(170%);
        outline: 1px solid $secondaryTextColor;
    }
}

.form-input {
    height: 40px;
}

.text-area {
    height: 300px;
    resize: none;
}

.submit-btn {
    align-self: center;
    width: 50%;
    @include headerFont();
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    padding: 10px 50px;
    color: $mainTextColor;
    font-size: $smallText;
    border: 1px solid $secondaryTextColor;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    margin: 5px;
    transition: transform 0.1s;
    &:hover,
    &:focus,
    &:active {
        background: $accent1;
        color: #000;
        transition: all 0.2s ease-in;
    }
}

@media only screen and (max-width: 800px) {
    .contact-container {
        margin: $globalMargin;
    }
    #contact-form {
        width: 100%;
    }
}
