@import './_mixins';
@import './_variables';

#footer {
    @include flexCenter();
    align-self: flex-end;
    height: 75px;
    background-color: $black;
}

.metal {
    height: 33px;
    width: 33px;
    margin: 20px;
}

.footer-text {
    @include smallTextFont();
    font-size: $smallText;
    color: $secondaryTextColor;
}
