@import './_mixins';
@import './_variables';

#footer {
    // grid-area: 4 / 1 / 4 / 2;
    align-self: flex-end;
    @include flexCenter();
    height: 75px;
    border-top: 1px solid black;
}

.footer-text {
    font-family: 'Poppins', sans-serif;
    font-size: $smallText;
}


