// Desktop

#navbar {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    height: 75px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    letter-spacing: 1px;
    z-index: 3;
    background-color: white;
}

#logo {
    height: 60px;
    width: 60px;
    padding: 10px;
}

.left-side-nav {
    display: flex;
}

.right-side-nav {
    display: flex;
    align-items: center;
    margin: 15px;
    a {
        color: black;
        text-decoration: none;
    }
}

.nav-links-container {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    a {
        color: black;
        text-decoration: none;
    }
}

.nav-link {
    padding: 0 10px;
    border-left: 2px solid black;
}

// Mobile

.menu-bars {
    position: fixed;
    margin: 20px;
    cursor: pointer;
    visibility: hidden;
}

.bar1,
.bar2,
.bar3 {
    background-color: black;
    width: 50px;
    height: 2px;
    margin: 15px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-10px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-15px, -15px);
}

@media only screen and (max-width: 800px) {
    .menu-bars {
        visibility: visible;
        cursor: pointer;
    }

    #navbar {
        visibility: hidden;
        height: 100%;
        background-color: dodgerblue;
    }

    .nav-links-container {
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
    }

    .nav-link {
        border: 0;
        padding: 30px 0;
    }

    .right-side-nav {
        visibility: visible;
        position: absolute;
        right: 1rem;
        top: 1.2rem;
        font-size: 0.9rem;
    }

    .visibility {
        visibility: visible !important;
        #logo {
            visibility: hidden;
        }
        .right-side-nav {
            visibility: hidden;
        }
    }
}
