@import './_variables';
@import './mixins';

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: [header] 200px auto;
    padding-top: 75px;
}

.project-header {
    grid-area: 1 / 1 / 2 / span 3;
    margin: $globalMargin;
    color: $accent1;
    @include xlHeaderFont();
    font-size: 4rem;
}

.project {
    position: relative;
    margin: $globalMargin;
    max-height: 450px;
    overflow: hidden;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 1.25em;
      bottom: 1.25em;
      left: 1.25em;
      right: 1.25em;
      opacity: 1;
      transition: transform ease-out 250ms;
      z-index: 2;
    }
    
    &::before {
      border-top: 1px solid $mainTextColor;
      border-bottom: 1px solid $mainTextColor;
      transform: scale(0, 1);
    }
    
    &::after {
      border-left: 1px solid $mainTextColor;
      border-right: 1px solid $mainTextColor;
      transform: scale(1, 0);
    }
    
    &:hover::before {
      transform: scale(1, 1);
    }
    
    &:hover::after {
      transform: scale(1, 1);
    }
    &:hover {
      .project-image {
        transform: scale(1.1);
        filter: blur(2px) brightness(0.4);
      }
    }
  }
  
  .project-image {
    max-width: 210%;
    max-height: 150%;
    transition: transform ease-out 250ms;
  }

.project-title {
    @include headerFont();
    font-size: 2rem;
    color: $mainTextColor;
    margin-bottom: 0;
}

.project-text {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    color: $mainTextColor;
    opacity: 0;
    @include smallTextFont();
    transition: opacity ease-out 250ms;
    letter-spacing: 1px;
    hr {
        width: 30%;
        border-color: $accent1;
    }
}

.project-links {
    padding-top: 40px;
    transition: transform ease-out 250ms;
    :hover {
        color: $accent1;
    }
}

.project-btn {
    @include headerFont();
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    padding: 7px 50px;
    color: $mainTextColor;
    font-size: $navText;
    border: 1px solid $mainTextColor;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    margin: 5px;
    transition: transform 0.1s;
    &:hover,
    &:focus,
    &:active {
        background: $accent1;
        color: #000;
        transition: all 0.2s ease-in;
    }
}

.no-border {
    border: 0;
}

.project:hover .project-text {
    opacity: 1;
}

@media only screen and (max-width: 1500px) {
    #projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-header {
        grid-area: 1 / 1 / 2 / span 2;
    }
}

@media only screen and (max-width: 800px) {
    #projects {
        grid-template-columns: 1fr;
    }

    .project-header {
        font-size: 3.5rem;
        grid-area: 1 / 1 / 2 / span 1;
    }

    .project-links {
        padding-top: 0px;
    }
    .projects-header-image {
        height: 350px;
        width: 100%;
        top: 2975px;
    }
    .project-btn {
        background: $accent1;
        color: #000;
    }
}
