.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.project {
  display: flex;
}

.project-image {
  height: 200px;
  width: 250px;
}

.project-info {
  display: flex;
  flex-direction: column;
}

