
.skills-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: 'Roboto Mono', monospace;
    border-bottom: 1px solid black;
    flex-direction: column;
}

.fab,
.fas {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.589);
}

.skill-category {
    display: flex;
    flex-direction: column;
    text-align: center;
}
