@import './_mixins';
@import './variables';

#skills {
    padding-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: $globalMargin;
}

.education-experience-skills {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
}

.skill-section {
    width: 100%;
    max-width: 400px;
    height: min-content;
    padding-left: 20px;
    border-left: 1px solid $mainTextColor;
}

.skill-section,
h5,
h4 {
    font-family: 'Roboto Mono', monospace;
    color: $secondaryTextColor;
    h3 {
        font-size: $mediumHeader;
        color: $mainTextColor;
    }
    h4 {
        font-size: $default;
        margin: 15px 0 0 0;
    }
    h5 {
        font-size: $smallHeader;
        margin: 5px 0;
    }
    .skill-text {
        font-family: 'Poppins', sans-serif;
    }
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fas {
    font-size: $largeIcon;
    padding-right: 15px;
    color: $accent1;
}

.skill-text {
    font-size: $smallText;
    color: $mainTextColor;
    margin: 5px 0;
    color: $mainTextColor;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
    background-color: $mainBackground;
    box-shadow: 0 50px 50px $black;
    margin: 100px 0;
    width: 100%;
    max-width: 900px;
    color: $secondaryTextColor;
}

.panel {
    display: none;
    padding: 20px 30px 30px;
    background-color: $mainBackground;
}

.paradigm-text {
    font-size: $smallText;
    margin: 30px 0;
}

.radio {
    position: absolute;
    opacity: 0;
}

.label {
    width: 100%;
    padding: 20px 30px;
    background-color: $black;
    cursor: pointer;
    font-size: $mediumHeader;
    font-family: 'Roboto Mono', monospace;
    color: $secondaryTextColor;
    transition: background-color 0.1s, color 0.1s;
}

.label:hover {
    color:$accent2;
}

.label:active {
    background-color: rgb(68, 68, 68);
}

.radio:focus + .label {
    z-index: 1;
}

.radio:checked + .label {
    background-color: #2e2e2e;
    color: $accent1;
}

.radio:checked + .label + .panel {
    display: block;
}

@media (min-width: 800px) {
    .tabs-container {
        width: 75%;
    }
    .label {
        width: auto;
    }
    .panel {
        order: 99;
    }
    .skill-section {
        margin: 20px;
    }
    .paradigm-text {
        margin: 30px 100px;
    }
}
@media (max-width: 800px) {
    .skill-section {
        margin-top: 80px;
    }
}
