@import './_mixins';
@import './variables';

#skills {
    padding-top: 75px;
    @include flexCenter();
    flex-direction: column;
    margin: $globalMargin;
}

// Skills section

.skill-section-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.skill-section {
    max-width: 450px;
    height: min-content;
    padding-left: 20px;
    margin: 80px 15px 0 0;
    border-left: 1px solid $mainTextColor;
    @include headerFont();
    color: $secondaryTextColor;
    .skill-header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: $mediumHeader;
        color: $mainTextColor;
        .fas {
            font-size: $largeIcon;
            padding-right: 15px;
            color: $accent1;
        }
    }
    
    h5 {
        font-size: $smallHeader;
        margin: 20px 0 7px 0;
    }

    .skill-text {
        @include smallTextFont();
        font-size: $smallText;
        margin: 5px 0;
        color: $mainTextColor;
        line-height: 25px;
    }
}

// Tabs Section

.skills-header {
    @include headerFont();
    color: $accent1;
    margin: 100px 0 0 30px;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 60px 60px black;
    margin: 25px 0 100px 0;
    max-width: 1000px;
    color: $secondaryTextColor;
    background-color: $mainBackground;
}

.tab {
    position: absolute;
    opacity: 0;
    &:focus + .label {
        z-index: 1;
    }

    &:checked + .label {
        background-color: #2e2e2e;
        color: $accent1;
    }

    &:checked + .label + .tab-content {
        display: block;
    }
}

.label {
    width: auto;
    // flex: 1;
    text-align: center;
    white-space: nowrap;
    padding: 20px 30px;
    background-color: $black;
    cursor: pointer;
    font-size: $mediumHeader;
    @include headerFont();
    color: $secondaryTextColor;
    transition: background-color 0.1s, color 0.1s;
    &:hover {
        color: $accent2;
    }
}

.tab-content {
    display: none;
    padding: 20px 30px 30px;
    order: 99;
    .tab-text {
        @include smallTextFont();
        font-size: $default;
        margin: 30px 100px;
        .text-accent {
            color: $accent2;
            font-weight: 900;
        }
    }
}

// Dynamic Classes

.less-box-shadow {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.404);
}

@media (max-width: 800px) {
    .skill-section {
        margin: 80px 0 0 0;
    }

    .label {
        width: 100%;
    }

    .tab-text {
        margin: 30px 0 !important;
    }
}
@media (min-width: 800px) {
    .label {
      flex: 1;
    }
}
